{% extends 'base.html' %}

{% block meta %}
<title>Add New Task</title>
{% endblock meta %}

{% block content %}  

<nav class="navbar navbar-dark bg-dark">
    <div class="d-none d-lg-block">
      <h2 class="nav" style="color: white">To do list</h2>
    </div>
  
    <div class="howdy">
      <strong style="color: white;">Howdy, {{ nama_user }}!</strong>
    </div>
  
    <div class="nav-right">
      <a class="btn btn-danger" style="width: 100px; padding-bottom: 8px;" href="{% url 'todolist:logout_user' %}">Logout</a>
    </div>
  </nav>

<div class = "container">
    
    <h2>Add new task</h2>  

        <form method="POST" style="margin-bottom: 15px;" >  
            {% csrf_token %}  
            <table>
                {% for field in form %}
                <tr><td>{{ field.label_tag }}</td></tr>
                <tr><td>{{ field }}</td></tr>
                {% endfor %}

            </table>
            <input class="btn btn-primary" type="submit" name="submit" value="Add task"/>
            <a class="btn btn-secondary" href="{% url 'todolist:show_home' %}">Back to home</a>
        </form>
        
        
        
</div>  

<style>
    .nav {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-family: Helvetica, sans-serif;
}
    .container {
        margin-top: 80px;
    }

    input {
    width: 100%;
    margin: 0.1rem 0 0.2rem 0;
    padding: 5px 185px 5px 12px;
    }

    .btn-primary {
        margin-top: 10px;
        max-width: 235px;
        margin-right: 5px;
        padding-bottom: 8px;
    }

    .btn-secondary {
        margin-top: 8px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 8px;
    }
    
</style>

{% endblock content %}