{% extends 'base.html' %}

 {% block content %}

<nav class="navbar navbar-dark bg-dark">
  <div class="d-none d-lg-block">
    <h2 class="nav" style="color: white">To do list</h2>
  </div>

  <div class="howdy">
    <strong style="color: white;">Howdy, {{ nama_user }}!</strong>
  </div>

  <div class="nav-right">
    <a class="btn btn-danger" style="width: 100px; padding-bottom: 8px;" href="{% url 'todolist:logout_user' %}">Logout</a>
  </div>
</nav>

 <body>
  <div class="container" style="margin-bottom: 100px;">

    {% if task_item  %}
    <h1>{{nama_user}}, this is your todo list!</h1>
    <h4 style="color: #6C757D;">Don't forget to do it yes! &#x1F609;</h4>

    <div class="row" style="margin-top: 20px;">
      {% for item in task_item %}
          <div class="col-sm-6" style="margin-top: 10px;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text mb-2 text-muted">{{item.date | date:"F, j Y - H:i"}}</p>
              </div>
            </div>
          </div>
      {% endfor %}
      <div>
        <a class="btn btn-primary" href="{% url 'todolist:get_add_task' %}">Add new task</a>
      </div>
      
    </div>

    {% else %}
    <div class="prim2">
      <h1 style="text-align: center; margin-top: 40px;">Ouch, {{nama_user}}!</h1>
      <h4 style="color: #6C757D; text-align: center;"> You don't have any task! &#128533;</h4>
      <a class="btn btn-primary" href="{% url 'todolist:get_add_task' %}">Add new task</a>
    </div>
      

    {% endif %}
    
  </div>
 </body>

  


  <style>
    .nav {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-family: Helvetica, sans-serif;
    }

    .col-sm-6 {
      float: left;
      width: 50%;
      padding: 10px;
    }


    .container {
      margin-top: 70px;
    }

    .btn-primary {
      margin-top: 20px;
      margin-right: 5px;
      padding-bottom: 8px;
      width: 100%;
    }

    .prim2 {
      width: 50%;
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .btn-secondary {
      margin-top: 8px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 8px;
    }
    
    
  </style>

 {% endblock content %}

