{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<body>
    <div class="container"> 
        <div class = "login">
            <h2 style="text-align: center;">Login</h1>
        
            <form class="inline" method="POST" action="" style="max-width: max-content;">
                {% csrf_token %}
                
                <i class="fa fa-user icon"></i>
                <input type="text" name="username" placeholder="Username" class="form-control">

                <i class="fa fa-lock icon"></i>
                <input type="password" name="password" placeholder="Password" class="form-control">

                <input class="btn btn-primary" type="submit" value="Login">
            </form>
        
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}     
                
            <p style="text-align: center;">Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></p> 
        
        </div>
    </div>
</body>


<style>
li {
    color: green;
}
.login {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 400px;
    }
.btn-primary {
    margin-top: 10px;
    margin-bottom: 16px;
    padding: 6px 170px 10px 170px;
    width: 100%;
}

@media screen and (max-width: 600px) {
      .login {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
      }
}
    
</style>


{% endblock content %}