{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<section class="container">
    <div class="register">
    
        <h2 style="text-align: center; margin-bottom: 20px;">Account Registration</h2>  

            
        <form method="POST">  
            {% csrf_token %}  

            <table>
                {% for field in form %}
            
                <tr><td>{{ field.label_tag }}</td></tr>
                <tr><td>{{ field }}</td></tr>
                <tr><td>{{ field.errors }}</td></tr>
                
                <!-- {{ field.errors }} -->
                {% endfor %}

            </table>
            
            <input class="btn btn-primary" type="submit" name="submit" value="Create account"/>
            
        </form>
            
            
        <p style="text-align: center;">Sudah mempunyai akun? <a href="{% url 'todolist:login_user' %}">Masuk</a></p>
    
        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}
    
    </div>  
</section>

<style>
    li {
        color: red;
    }
    .form {
    justify-content: center;
    align-items: centerS;
    }

    .register {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 400px;
    }

    input, textarea {
    width: 100%;
    margin: 0.1rem 0 0.2rem 0;
    padding: 5px 185px 5px 12px;
    }


    .btn-primary {
    margin-top: 10px;
    margin-bottom: 16px;
    padding: 6px 140px 10px 140px;
    width: 100%;
    }

    @media screen and (max-width: 600px) {
      .register {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
      }
}
</style>


{% endblock content %}